@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #10b981; /* Emerald 500 */
}

@layer base {
  html, body {
    @apply overflow-x-hidden;
    width: 100%;
    position: relative;
  }
  body {
    @apply bg-[#050505] text-white antialiased selection:bg-brand selection:text-black;
  }
  img {
    @apply select-none pointer-events-none;
    -webkit-user-drag: none;
    user-select: none;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-xl border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-white/50;
}
